<h1>{{name}}</h1>
<img src="{{image}}">
<h2>Origin: {{origin}}</h2>
<h2>Ranking {{placing}}</h2>

<h1>Players</h1>
<ul>
    <li> name:{{players.name}} </li>
    <li> Age: {{players.Age}}</li>
    <li> nationality: {{players.Nationality}}</li>
</ul>

